.App {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  width: 100%;
  margin: 0 auto;
  font-family: arial;
}

aside.navigation {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  font-size: 20px;
  padding: 10px 0;
}

header {
  flex-basis: 60vh;
}

section.main {
  flex-grow: 1;

}

footer {
  flex-basis: auto;
}