.App {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  width: 90%;
  margin: 0 auto;
}

aside.navigation {
  position: fixed;
  width: 90%;
  background-color: grey;
  z-index: 1;

}

header {
  flex-basis: 50vh;
}

section.main {
  flex-grow: 1;
  background-color: grey;
}

footer {
  flex-basis: auto;
}