.hamburger {
  padding: 12px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: none;
}

.hamburger:active {
  background-color: transparent;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;

}

.hamburger-inner {
  position: absolute;
  display: inline-block;
  background-color: black;
  width: 100%;
  height: 5px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: .2s
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: black;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  transition: .2s
}

.hamburger-inner::before {
  top: -10px
}

.hamburger-inner::after {
  top: 10px
}

.hamburger-active .hamburger-inner {
  background-color: transparent;
}

.hamburger-active .hamburger-inner::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger-active .hamburger-inner::after {
  transform: translateY(-10px) rotate(-45deg);
}