header {
  overflow: hidden;
  position: relative;
}

header img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8
}

header h1 {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 55px;
  color: white;
  font-style: italic;
  width: 100%;

}

@media (min-width: 360px) and (max-width: 479px) {
  header h1 {
    font-size: 65px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header h1 {
    font-size: 75px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header h1 {
    font-size: 80px;
  }
}

@media (min-width: 1024px) and (max-width: 1223px) {
  header h1 {
    font-size: 100px;
  }
}

@media (min-width: 1223px) and (max-width: 1823px) {
  header h1 {
    font-size: 130px;
  }
}

@media (min-width: 1823px) {
  header h1 {
    font-size: 150px;
  }
}