header {
  overflow: hidden;
  position: relative;
}

header img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8
}

header h1 {
  display: inline-block;
  position: absolute;
  text-align: center;
  padding: 0 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
  color: rgba(50, 50, 50, 0.9);
  font-style: italic;
  width: 100%;

}

@media (min-width: 360px) and (max-width: 479px) {
  header h1 {
    font-size: 85px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header h1 {
    font-size: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header h1 {
    font-size: 113px;
  }
}

@media (min-width: 1024px) and (max-width: 1223px) {
  header h1 {
    font-size: 150px;
  }
}

@media (min-width: 1224px) and (max-width: 1823px) {
  header h1 {
    font-size: 180px;
  }
}

@media (min-width: 1824px) {
  header h1 {
    font-size: 220px;
  }
}