header {
  overflow: hidden;
  position: relative;
}

header img {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header h1 {
  display: block;
  position: relative;
  text-align: center;
  height: 15vh;
  top: 20vh;
  line-height: 15vh;
  color: white;
  font-size: 80px;
  color: white;
  font-style: italic;
}