.meal {
  padding-bottom: 20px;
}



.meal .text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.meal nav {
  /* flex-basis: 50px; */
  width: 100%;
  margin: 0 auto;
  /* padding: 1px 0px; */
  /* background-color: rgba(248, 232, 9, 0.267); */
  /* border-radius: 50px; */
}

.meal ul {
  list-style: none;
  width: 100%;
  max-width: 400px;
  margin: auto;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meal li {
  flex-basis: 120px;
  margin: 5px;
}

.meal a {
  display: block;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  color: goldenrod;
  text-decoration: none;
  text-transform: uppercase;
  border: goldenrod solid 2px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}




.meal .active {
  background-color: rgba(248, 232, 9, 0.65);
  color: black;
  border: none;
  /* box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.9); */
}

.meal .active:hover {
  background-color: rgba(248, 232, 9, 0.65);
}

.meal a:hover {
  background-color: #ddd;
}

.meal .content {
  flex-grow: 1;
  width: 90%;
  margin: auto;
}

.meal .header_meal {
  display: flex;
  padding: 20px 0px 5px 0px;
}

.header_meal h3 {
  flex-grow: 1;
}

.header_meal .price {
  flex-basis: 50px;
  padding: 0 10px 0 0;
  color: goldenrod;
  line-height: 1;
  font-size: 24px;
}

.ingridents {
  padding: 10px 0;
}



@media (min-width: 360px) and (max-width: 479px) {
  .meal a {
    font-size: 14px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .meal ul {
    max-width: 90%;
    justify-content: space-around;

  }

  .meal li {
    flex-basis: 140px;
  }

  .meal a {
    font-size: 16px;
  }

  .meal .active {
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.9);
  }



}

@media (min-width: 768px) and (max-width: 1023px) {
  .meal ul {
    max-width: 600px;
    justify-content: space-around;

  }

  .meal li {
    flex-basis: 200px;
    margin: 10px;
  }

  .meal a {
    font-size: 24px;
    padding: 10px;
  }

  .meal .content {
    width: 80%;
    margin: 30px auto 0;
  }

  .meal .active {
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.9);
  }

}

@media (min-width: 1024px) and (max-width: 1223px) {
  .meal ul {
    max-width: 800px;
    justify-content: space-around;

  }

  .meal li {
    flex-basis: 200px;
    margin-top: 10px;
  }

  .meal a {
    font-size: 24px;
    padding: 10px;
  }

  .meal .content {
    width: 80%;
    margin: 40px auto 0;
  }

  .meal .active {
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.9);
  }
}

@media (min-width: 1224px) and (max-width: 1823px) {
  .meal ul {
    max-width: 800px;
    justify-content: space-around;

  }

  .meal li {
    flex-basis: 200px;
    margin-top: 10px;
  }

  .meal a {
    font-size: 28px;
    padding: 10px;
  }

  .meal .content {
    width: 80%;
    margin: 40px auto 0;
  }

  .header_meal h3 {
    font-size: 28px;
  }

  .header_meal .price {
    font-size: 24px;
  }

  .meal .active {
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.9);
  }
}

@media (min-width: 1824px) {
  .meal ul {
    max-width: 1000px;
    justify-content: space-around;

  }

  .meal li {
    flex-basis: 250px;
    margin-top: 20px;
  }

  .meal a {
    font-size: 32px;
    padding: 15px;
  }

  .meal .content {
    width: 80%;
    margin: 40px auto 0;
  }

  .header_meal h3 {
    font-size: 36px;
  }

  .header_meal .price {
    font-size: 36px;
  }

  .meal .active {
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.9);
  }
}