.menu h2 {
  padding-left: 10px;
  padding-right: 10px;
}

.menu a {
  display: block;
  width: 150px;
  margin: 50px auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border: black solid 2px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #ddd;
}

.menu a:first-of-type {
  margin-top: 50px;
}

@media (min-width: 1224px) and (max-width: 1823px) {
  .menu a {
    font-size: 24px;
    width: 180px;
    padding: 15px;
  }

  .main {
    margin-bottom: 20px;
  }

}

@media (min-width: 1824px) {
  .menu a {
    font-size: 24px;
    width: 250px;
    padding: 20px;
  }

  .main {
    margin-bottom: 40px;
  }

  .menu h2 {
    margin-top: 0;
  }
}