.menu h2 {
  padding-left: 10px;
  padding-right: 10px;
}

.menu a {
  display: block;
  width: 150px;
  margin: 50px auto;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: goldenrod;
  text-decoration: none;
  text-transform: uppercase;
  border: goldenrod solid 2px;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.menu ul {
  list-style: none;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-color: white
}

.menu a:first-of-type {
  margin-top: 50px;
}

@media (min-width: 1224px) and (max-width: 1823px) {
  .menu a {
    font-size: 24px;
    width: 190px;
    padding: 15px;
  }

  .main {
    padding: 20px;
  }

}

@media (min-width: 1824px) {
  .menu a {
    font-size: 24px;
    width: 250px;
    padding: 20px;
  }

  .main {
    padding-bottom: 40px;
  }

}