.main-nav {
  height: 100vh;
  width: 100px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(-100px);
}

.main-nav ul {
  list-style: none;
  margin-top: 50px;
}

.menu-item {
  margin-bottom: 20px;
  color: white
}

.menu-item a {
  text-decoration: none;
  color: black;

}



/* .navigation ul {
  list-style: none;
  display: flex;
}

.navigation li {

  flex-grow: 1;
  text-align: center;
  margin: 0 10px;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: #222222;
  font-size: 30px;

  transition: 0.2s;
}

.navigation a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;

}

.navigation .active {
  background-color: rgba(0, 0, 0, 0.4);
} */

/* .main-nav {
  background-color: black;
} */

/* .navigation {
  transform: translateY(-18px);
} */