.main-nav {
  height: 100vh;
  width: 130px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(-130px);
  transition: .3s;
}

.nav-active {
  transform: translateX(0);
}

.main-nav ul {
  list-style: none;
  margin-top: 50px
}

.menu-item {
  margin-bottom: 20px;
  color: white;

}

.menu-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: 100%;
  padding: 0 20px 0 10px;
  font-size: 24px;
  font-weight: bold;
}

.main-nav .active {
  background-color: rgba(0, 0, 0, 0.2);
}


/* .navigation ul {
  list-style: none;
  display: flex;
}

.navigation li {

  flex-grow: 1;
  text-align: center;
  margin: 0 10px;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: #222222;
  font-size: 30px;

  transition: 0.2s;
}

.navigation a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;

}

.navigation .active {
  background-color: rgba(0, 0, 0, 0.4);
} */

/* .main-nav {
  background-color: black;
} */

/* .navigation {
  transform: translateY(-18px);
} */