.main-nav {
  height: 100vh;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateX(-100px);
  transition: .3s;
}

.nav-active {
  transform: translateX(0);
}

.main-nav ul {
  list-style: none;
  margin-top: 50px
}

.menu-item {
  margin-bottom: 20px;
  color: white;
}

.menu-item a:hover {
  background-color: rgb(255, 255, 255);
}



.menu-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: 100%;
  padding: 5px 20px 5px 10px;
  font-size: 18px;
  font-weight: bold;
}

.main-nav .active {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-nav .active:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 360px) and (max-width: 479px) {
  .main-nav {
    width: 130px;
    transform: translateX(-130px);
  }

  .nav-active {
    transform: translateX(0);
  }

  .menu-item a {

    padding: 5px 20px 5px 10px;
    font-size: 22px;

  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .main-nav {
    width: 160px;
    transform: translateX(-160px);
  }

  .nav-active {
    transform: translateX(0);
  }

  .menu-item a {

    padding: 5px 20px 5px 15px;
    font-size: 26px;

  }
}

@media (min-width: 768px) {
  .main-nav {
    width: 200px;
    transform: translateX(-200px);
  }

  .main-nav ul {
    margin-top: 70px
  }

  .nav-active {
    transform: translateX(0);
  }

  .menu-item a {

    padding: 5px 20px 5px 20px;
    font-size: 30px;

  }
}