.opinion {
  margin: 50px auto 20px;
}

h3 {
  font-size: 20px;
  color: goldenrod;
}

.opinion form label {
  font-size: 18px;
  color: goldenrod;
}

.opinion form input {
  margin: 20px 10px 10px 10px;
  font-size: 16px;
  font-family: 'Dancing Script', cursive;
  border: solid goldenrod 1px;
  color: goldenrod;
  background-color: white;
  border-radius: 5px;
}


.opinion form textarea {
  display: block;
  margin: 20px auto 20px;
  width: 250px;
  height: 110px;
  font-size: 18px;
  padding: 10px;
  line-height: 1.5;
  border: goldenrod solid 1px;
  font-family: arial;
  color: goldenrod;
  background-color: white;
  border-radius: 20px;
  font-family: 'Dancing Script', cursive;
}

.opinion form button {
  display: block;
  margin: auto;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 10px;
  background-color: white;
  border: solid goldenrod 2px;
  color: goldenrod;
  outline: none;
  font-family: 'Dancing Script', cursive;
  transition: .2s;
}

.opinion form button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-color: white
}

@media (min-width: 480px) and (max-width: 767px) {
  .opinion {
    margin-bottom: 30px;
  }

  .opinion h3 {
    font-size: 24px;
  }



  .opinion form input {
    margin: 20px 10px 10px 20px;
    padding: 3px;
    font-size: 18px;
  }

  .opinion form textarea {
    display: block;
    margin: 20px auto 30px;
    width: 300px;
    font-size: 18px;
  }

  .opinion form button {
    font-size: 24px;
  }


}

@media (min-width: 768px) and (max-width: 1823px) {
  .opinion {
    margin-bottom: 30px;
  }

  .opinion h3 {
    font-size: 28px;
  }

  .opinion form label {
    font-size: 20px;
  }

  .opinion form input {
    margin: 20px 10px 10px 20px;
    padding: 3px;
    font-size: 18px;
  }

  .opinion form textarea {
    display: block;
    margin: 20px auto 30px;
    width: 300px;
    font-size: 18px;
  }

  .opinion form button {
    font-size: 24px;
  }


}

@media (min-width: 1824px) {
  .opinion {
    margin-bottom: 30px;
  }

  .opinion h3 {
    font-size: 30px;
  }

  .opinion form label {
    font-size: 20px;
  }

  .opinion form input {
    margin: 20px 10px 10px 20px;
    padding: 3px;
    font-size: 24px;
  }

  .opinion form textarea {
    display: block;
    margin: 20px auto 30px;
    width: 350px;
    height: 150px;
    font-size: 22px;
  }

  .opinion form button {
    font-size: 34px;
  }


}