 .prom {
   margin-top: 60px;
 }

 .prom h1 {
   text-align: center;
   margin-top: 20px;
   font-size: 28px;
 }

 .prom p {
   padding: 20px 100px 20px;
   line-height: 1.5;
   font-size: 18px;
   text-align: center;
 }